@import '../../styles/customMediaQueries.css';

.messagePanel,
.listingPanel {
  width: 100%;
  margin: 24px auto 0 auto;

  @media (--viewportMedium) {
    margin: 48px auto 0 auto;
  }

  @media (--viewportLarge) {
    margin: 72px auto 0 auto;
    max-width: calc(var(--contentMaxWidth) + 72px);
  }

  @media (--viewportXLarge) {
    max-width: var(--contentMaxWidth);
  }
}

.heading {
  margin: 0 24px 24px 24px;

  @media (--viewportMedium) {
    margin: 0 24px 32px 24px;
  }

  @media (--viewportLarge) {
    margin: 0 36px 32px 36px;
  }
}

.headerLogoContainer {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  max-height: 15svh;
  margin: 1rem 2rem;

  @media (--viewportSmall) {
    display: none;
  }
}

.headerLogo {
  width: 100%;
  height: 100%;
}

.categoriesWrapper {
  background: white;
  padding: 2rem 2rem 0px 2rem;
  color: black;
}

.categoriesContainer {
  display: flex;
  flex-wrap: wrap;
}

.category {
  display: block;
  padding: 10px 0px;

  a:hover {
    color: blue;
  }
}

.categoryLinks {
  display: inline-flex;
  font-family: 'Chaney Regular';
  text-decoration: none;

  @media (--viewportMedium) {
    font-size: 3rem;
    line-height: 1rem;
  }

  @media (--viewportLarge) {
    font-size: 6rem;
    line-height: 6rem;
  }
}

.categoryMeta {
  padding: 0px 30px 0px 10px;
  display: inline-flex;

  @media (--viewportMedium) {
    font-size: 1rem;
    line-height: 1rem;
  }

  @media (--viewportLarge) {
    font-size: 2rem;
  }
}

.listingCards {
  padding: 0 24px;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  width: 100%;

  @media (min-width: 550px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--viewportMedium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--viewportLarge) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 36px;
  }
}

.listingCard {
  margin-bottom: 36px;
  width: 100%;
}

/**
 * Remove margin-right from listingCards on the last column
 * This is a special case in the world of breakpoints. Nth-of-type effects every nth item.
 * Here we take margin-right away, but we don't want it affect the next column breakpoint.
 */

.listingCard:nth-of-type(2n) {
  @media screen and (min-width: 768px) and (max-width: 1920px) {
    margin-right: 0;
  }
}

.listingCard:nth-of-type(3n) {
  @media (--viewportXLarge) {
    margin-right: 0;
  }
}

.pagination {
  /* margin-top: auto; pushes pagination to the end of the page. */
  margin: auto 24px 0 24px;

  @media (--viewportLarge) {
    margin: auto 36px 0 36px;
  }
}
